.customer-form{
    background-color: #EDEDED;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-right:20px;
    padding-left:20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width:5px;
    width: 602px;
}

.nav-sidebar{
    margin-right:-21px;
    marfin-bottom:20px;
    margin-left: -20px;
}

.sidebar{
    position:fixed;
    top:51px;
    bottom:0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    boder-right:1px solid #eee;
}

.text{
    border-radius: 5px;
}

.input{
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 250px;
    height: 30px;

}
.main{

    padding: 20px;
}

input[type=text].rupee {
    background-image: url(../assets/Fd7NROx.png);
    border: 1px solid #aaa;
    padding: 5px;
    padding-left: 20px;
    background-size: 10px 15px;
    background-repeat: no-repeat;
    background-position: 8px 6px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}