<h3 class="page-header">Invoice List</h3>
<table class="table table-bordered table-hover success">
    <tr class="text-center" style="background-color:#419641">
        <td>Id</td>
        <td>Customer Name</td>
        <td style="width:150px">Item</td>
        <td style="width:150px">Quantity</td>
        <td style="width:150px">Cost</td>
        <td style="width:150px">Total Cost</td>
    </tr>
    <tr class="text-center" ng-repeat="invoice in invoices">
        <td>{{invoice.id}}</td>
        <td>
            <a ui-sref="invoiceList.customerDetails({id:invoice.selectedCustomer.id})">{{invoice.selectedCustomer.name}}</a>
        </td>
        <td colspan="4">
            <table class="table table-bordered table-hover">
                <tr class="text-center" ng-repeat="item in invoice.items">
                    <td style="width:149px">{{item.name}}</td>
                    <td style="width:149px">{{item.quantity}}</td>
                    <td style="width:149px">{{item.cost}}</td>
                    <td style="width:149px">{{item.cost*item.quantity}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div ui-view></div>
