<h1 class="page-header">
    <button type="button" class="btn btn-link" ng-click="startCreating()">
                <span class="glyphicon glyphicon-plus">
                    Create Invoice
                </span>
    </button>
</h1>
<div class="container">
    <div class="row">
        <div style="margin-right: 15px" ng-show="isCreating" class="customer-form col-md-6">
            <form ng-submit="createInvoice(newInvoice)">
                <div class="form-inline">
                    <label for="newInvoiceId" class="control-label">Invoice No:</label>
                    <input type="text" style="width: 100px" readonly class="form-control text input-sm" id="newInvoiceId"
                           ng-model="newInvoice.id">
                </div>
                <br/>

                <div class="form-group">
                    <label for="newInvoiceCustomer" class="control-label">Customer</label>
                    <select class="text form-control input-sm" id="newInvoiceCustomer"
                            ng-options="customer.name for customer in customers"
                            ng-model="newInvoice.selectedCustomer" readonly="selectedItems.length > 0 ">
                    </select>
                </div>
                <div  class="form-inline">
                    <label for="invoiceItems" class="control-label">Items:</label>
                    <select style="width: 210px" class="text form-control input-sm" id="invoiceItems"
                            ng-options="item.name for item in items | orderBy : 'name'"
                            ng-model="newItem"></select>
                    <label for="invoiceQuantity" class="control-label ">Qunatity</label>
                    <input type="number"  id="invoiceQuantity" style="width: 50px" class="form-control text input-sm "
                           ng-model="newItem.quantity">
                    <label for="invoiceCost" class="control-label">Cost</label>
                    <input type="text" style="width: 80px" readonly class="form-control text input-sm"
                           ng-model="newItem.cost"
                           id="invoiceCost">
                </div>
                <br/>
                <div class="form-group">
                <button type="button" style="width:130px" ng-click="addItem(newItem)" class="btn btn-success form-control">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

                </div>
                <br/>
                <div class="form-inline">
                    <label for="invoiceTotalCost" class="control-label">Total:</label>
                    <input type="text" readonly style="width:100px" class="form-control text input-sm rupee" id="invoiceTotalCost"
                           ng-value="newItem.quantity && newItem.quantity*newItem.cost || 0 ">
                </div>
                <br/>
                <div class="form-group">
                    <button type="button" ng-click="cancelCreating()" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-success" >Create Invoice</button>
                </div>
            </form>
            <br/>

        </div>


        <table ng-show="selectedItems.length > 0" class="table table-bordered table-hover customer-form">
            <tr class="text-center" style="background-color:#419641">
                <td>Item</td>
                <td>Quantity</td>
                <td>Cost</td>
                <td>Total Cost</td>
            </tr>
            <tr class="text-center" ng-repeat="item in selectedItems track by $index">
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.cost}}</td>
                <td>{{item.cost*item.quantity}}</td>
            </tr>
            <!--<tr class="text-center">
                <td>Grand Total:</td>
                <td><input type="text" class="text" ng-model="newInvoice.grandTotal"></td>
            </tr>-->
        </table>
    </div>

</div>
