<h3 class="page-header">Customer List</h3>
<table class="table table-bordered table-hover success">
    <tr class="text-center" style="background-color:#419641">
        <td>Id</td>
        <td>Name</td>
        <td>Phone</td>
        <td>Address</td>
        <td>City</td>
        <td>Postal</td>
        <td>Invoices</td>

    </tr>
    <!--<tbody ng-repeat="customer in customers">-->
    <tr class="success text-center" ng-repeat="customer in customers">
        <td rowspan="invoiceMap[customer.id].length">{{customer.id}}</td>
        <td rowspan="invoiceMap[customer.id].length">{{customer.name}}</td>
        <td rowspan="invoiceMap[customer.id].length">{{customer.phone}}</td>
        <td rowspan="invoiceMap[customer.id].length">{{customer.address.street}}</td>
        <td rowspan="invoiceMap[customer.id].length">{{customer.address.city}}</td>
        <td rowspan="invoiceMap[customer.id].length">{{customer.address.postal}}</td>

            <td>
                <div ng-repeat="invoice in invoiceMap[customer.id]">
                    <a ui-sref="customerList.invoiceDetails({id:invoice.id})">{{invoice.id}}</a>
                </div>

        </td>

    </tr>
</table>
<div ui-view></div>
